<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-success text-center text-white p-3 mt-3">
                <h2>{{title}}</h2>
            </div>
            <form [formGroup]="reactiveForm" (ngSubmit)="formData()">
                <div class="form-group">
                    <!-- Form Control -->
                    <label for="name"><b>Name:</b></label>
                    <input type="text" [class.is-invalid]="control['name'].invalid && control['name'].touched"
                        formControlName="name" name="name" class="form-control">
                    <!-- Error Message -->
                    <div *ngIf="control['name'].invalid && control['name'].touched" class="text-danger">
                        <div *ngIf="control['name'].errors && control['name'].errors['required']">
                            <b>Name Is Required!</b>
                        </div>
                        <div *ngIf="control['name'].errors && control['name'].errors['minlength']">
                            <b>Minimum 3 Characters Must!!</b>
                        </div>
                        <div *ngIf="control['name'].errors && control['name'].errors['maxlength']">
                            <b>Maximum 20 Characters!!</b>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Form Control -->
                    <label for="age"><b>Age:</b></label>
                    <input type="number" [class.is-invalid]="control['age'].invalid && control['age'].touched"
                        formControlName="age" name="age" class="form-control">
                    <!-- Error Message -->
                    <div *ngIf="control['age'].invalid && control['age'].touched" class="text-danger">
                        <div *ngIf="control['age'].errors && control['age'].errors['required']">
                            <b>Age Is Required!</b>
                        </div>
                        <div *ngIf="control['age'].errors && control['age'].errors['min']">
                            <b>Minimum 18 Age Must!!</b>
                        </div>
                        <div *ngIf="control['age'].errors && control['age'].errors['max']">
                            <b>Maximum 65 Age Required!!</b>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Form Control -->
                    <label for="email"><b>Email:</b></label>
                    <input type="text" [class.is-invalid]="control['email'].invalid && control['email'].touched"
                        formControlName="email" name="email" class="form-control">
                    <!-- Error Message -->
                    <div *ngIf="control['email'].invalid && control['email'].touched" class="text-danger">
                        <div *ngIf="control['email'].errors && control['email'].errors['required']">
                            <b>Email Is Required!</b>
                        </div>
                        <div *ngIf="control['email'].errors && control['email'].errors['pattern']">
                            <b>Invalid Email!!</b>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Form Control -->
                    <label for="password"><b>Password:</b></label>
                    <input type="password"
                        [class.is-invalid]="control['password'].invalid && control['password'].touched"
                        formControlName="password" name="password" class="form-control">
                    <!-- Error Message -->
                    <div *ngIf="control['password'].invalid && control['password'].touched" class="text-danger">
                        <div *ngIf="control['password'].errors && control['password'].errors['required']">
                            <b>Password Is Required!</b>
                        </div>
                        <div *ngIf="control['password'].errors && control['password'].errors['pattern']">
                            <b>Password Must Contains:</b>
                            <ul>
                                <li>Atleast 8 Characters.</li>
                                <li>Small And Capital Characters.</li>
                                <li>Number Characters.</li>
                                <li>Special Characters.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="gender"><b>Gender:</b></label>
                    <div class="form-check">
                        <!-- Form Control -->
                        <input type="radio" formControlName="gender" name="gender" class="form-check-input"
                            value="Male">
                        <label for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <!-- Form Control -->
                        <input type="radio" formControlName="gender" name="gender" class="form-check-input"
                            value="Female">
                        <label for="male">Female</label>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Form Control -->
                    <label for="country"><b>Country:</b></label>
                    <select name="country" formControlName="country"
                        [class.is-invalid]="control['country'].invalid && control['country'].touched"
                        class="form-control">
                        <option value="">Select</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="India">India</option>
                        <option value="USA">USA</option>
                        <option value="UAE">UAE</option>
                    </select>
                    <!-- Error Message -->
                    <div *ngIf="control['country'].invalid && control['country'].touched" class="text-danger">
                        <div *ngIf="control['country'].errors && control['country'].errors['required']">
                            <b>Country Is Required!</b>
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <!-- Form Control -->
                    <input type="checkbox" formControlName="terms"
                        [class.is-invalid]="control['terms'].invalid && control['terms'].touched" name="accept"
                        class="form-check-input">
                    <label for="terms"><b>I accept the terms and conditions.</b></label>
                </div>

                <label for="hobbies"><b>Hobbies:</b></label>
                <!-- Form Control -->
                <div class="form-check">
                    <div *ngFor="let hobby of myHobbies; let i = index">
                        <input type="checkbox" (change)="onChange($event)" name="hobby" [value]="hobby" class="form-check-input">
                        {{hobby}}
                    </div>
                </div>
                <!-- Submit Data -->
                <div class="d-grid mt-3">
                    <input type="submit" [class.disabled]="reactiveForm.invalid" value="Save" class="btn btn-success">
                    <br>
                    <input type="reset" value="Reset" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div>